<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
              <th>Id</th>
            <th>Name</th>
            <th>Pays</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let compagnie of compagnies | async">
            <td>{{compagnie.compagnieId}}</td>
            <td>{{compagnie.compagnieName}}</td>
            <td>{{compagnie.compagniePays}}</td>
            <td><button (click)="deleteCompagnie(compagnie.compagnieId)" class="btn btn-danger">Delete</button>
                <button (click)="compagnieDetails(compagnie.compagnieId)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>